*pyc
data/calib*
*.out
stretch/data*
*.MP4
*.mp4
*.pth
*.zip
*.ckpt
data/
baselines/cnnlstm/lightning_logs/
baselines/cnn/lightning_logs/
baselines/mulsa/exp*
baselines/playbyear/Results/
baselines/playbyear/hydralogs/
*.jpg
*.pt
*.csv
*.log
*.npy